body {
  margin: 0;
  padding: 0;
  background-color: #eee4e45d;
  display: flex;
  flex-direction: column;
  align-items: center;

 
}

.questions-div{
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  flex: 1;
}

.form-container{
  padding: 30px;
  align-content: center;
  height: 100vh;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

img.initial-illustration{
  position: relative;
  margin: auto;
  max-width: 100%; /* Make it responsive */
  height: auto;
}

.choices-container{
  position: relative;
  top: 20px;
}

.customer-choice{
  border: 2px solid black;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 6px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.customer-choice:hover{
  background-color: #37738c;
}


.user-answers{
  position: relative;
  top: 10px;
  padding-top: 20px;
  padding: 20px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.progress-bar{
  height: 8px;
  width: 100%;
  background-color: #ffff;
  box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position:fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  left: 0;
  align-items: center;
  overflow: hidden;
}

.percentage{
  height:7px;
  background-color: #37738c;
}

h2{
  font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
}


p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}